<!DOCTYPE html>
<html>
<head>
    <style>
        .feature {  
            margin-left: 320px;
            font-size: 1.5rem;
            list-style-type: none;
            color: rgba(17, 15, 15, 0.89);
        }       
    </style>
</head>

<body>
    {% extends "base_generic.html" %}

    {% block content %}    
        <div class="feature">
            <h1>About</h1>
            <p>This is a password that developed with Django.</p>
            <p>Django is a high-level Python Web framework</p>
            <br>
            <h1>Developers</h1>
            <p>Mohammad Hossein Bahrampour (Back-end)</p>
            <P>Amir Tasdighi (Front-end)</P>
        </div>
    
    {% endblock %}

</body>
</html>